<div class="navbar">
  <div class="navbar-inber">
    <a class="brand" href="#">Contact</a>
    <ul class="nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Submissions</a></li>
      <li><a href="#">Issues</a></li>
      <form class="navbar-search pull-left">
  <input type="text" class="search-query" placeholder="Search">
</form>
    </ul>


<div class="hero-unit"><center>
  <h1>Montreal Natural</h1>
  <p>A Free Magazine Featuring Organic Living,
Natural Health, and Spirituality</p>
  <p>
    <a class="btn btn-primary btn-large">
      Learn more
    </a>
  </p>
  </center>
</div>