<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<div class="hero-unit">
      <h1>Investment Calculator</h1>
  <p>Welcome to <%= link_to "Ottawa Capital Partners", "http://ottawacapitalpartners.com" %> investment calculator. 
  </p>
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Item</th>
      <th> Numbers</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Asking Price</td>
     <td><div class="input-prepend input-append"> <span class="add-on">$</span><input id='asking-price'type="number" class="number" value="number"></div></td>
    </tr>
     <tr>
      <td>Number of Units</td>
      <td><div class="input-prepend input-append"> <span class="add-on">$</span><input id="number-of-units" type="number" class="number" value="#"></div></td>
    </tr>
     <tr>
      <td><strong>Cost per unit</strong></td>
      <td><div class="input-prepend input-append"> <span class="result">$</span><input id="cost-per-unit"value=''></div></td>
    </tr>
     <tr>
      <td></td>
      <td></td>
    </tr>
     <tr>
      <td>Gross Revenue</td>
      <td><div class="input-prepend input-append"> <span class="add-on">$</span><input id="gross-revenue" type="number" class="number"></td>
    </tr>
     <tr>
      <td><strong>GRM</strong></td>
      <td><div class="input-prepend input-append"> <span class="add-on">$</span><input id="grm" type="number" class="number"></div></td>
    </tr>
     <tr>
      <td></td>
      <td></td>
    </tr>
     <tr>
      <td>Expense</td>
      <td><div class="input-prepend input-append"> <span class="add-on">$</span><input id="expense" type="number" class="number"></div></td>
    </tr>
     <tr>
      <td>NOI</td>
      <td><div class="input-prepend input-append"> <span class="add-on">$</span><input id="noi" type="number" class="number"></div></td>
    </tr>
     <tr>
      <td><strong>CapRate</strong></td>
      <td><div class="input-prepend input-append"> <span class="add-on">$</span><input id="caprate" type="number" class="number"></div></td>
    </tr>
     <tr>
      <td></td>
      <td></td>
    </tr>
     <tr>
      <td>Financing:</td>
      <td></td>
    </tr>
     <tr>
      <td>Full</td>
      <td><div class="input-prepend input-append"> <span class="add-on">$</span><input type="number" class="number"></div></td>
    </tr>
     <tr>
      <td>Interest Factor</td>
      <td><div class="input-prepend input-append"> <span class="add-on">$</span><input type="number" class="number"></div></td>
    </tr>
     <tr>
      <td>Profit</td>
      <td><div class="input-prepend input-append"> <span class="add-on">$</span><input type="number" class="number"></div></td>
    </tr>
     <tr>
      <td><strong>Profit/unit/month</strong></td>
      <td><div class="input-prepend input-append"> <span class="add-on">$</span><input type="number" class="number"></div></td>
    </tr>
    <td>Sources of funding</td>
      <td><div class="input-prepend input-append"> <span class="add-on">$</span><input type="number" class="number"></div></td>
    </tr>
    <td>Bank</td>
      <td><div class="input-prepend input-append"> <span class="add-on">$</span><input type="number" class="number"></div></td>
    </tr>
    <td>Seller VTB</td>
      <td><div class="input-prepend input-append"> <span class="add-on">$</span><input type="number" class="number"></div></td>
    </tr>
    <td>Me</td>
      <td><div class="input-prepend input-append"> <span class="add-on">$</span><input type="number" class="number"></div></td>
    </tr>
    <td>Total</td>
      <td><div class="input-prepend input-append"> <span class="add-on">$</span><input type="number" class="number"></div></td>
    </tr>
    <td></td>
      <td></td>
    </tr>
    <td><strong>Cash on cash return</strong></td>
      <td><div class="input-prepend input-append"> <span class="add-on">$</span><input type="number" class="number"></div></td>
    </tr>
  </tbody>
</table>
</div>
</end>
